* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  max-width: calc(1110px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
}
